*{
    box-sizing: border-box;
}
body {
    background-color: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
}
header {
   background-color: rgb(72, 87, 170);;
   border-bottom: 1px solid #f0f0f0;
   padding: 20px 40px; 
   font-size: 150x;
}
.form {
    padding: 30px 40px; 
    font-size: 20px;
    text-align: center;
}
.gender {
    margin-top: 20px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;  
}
#button {
    margin-top: 40px;
    border-radius: 4rem;
    height: 50px;
    width: 140px;
    background-color: rgb(72, 87, 170);
    color: white;
    font-size: large;
}
