@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo {
    /* margin-left: 40%; */
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: maroon;
    text-align: center;
}
.span {
    color: rgb(72, 87, 170)
}
.akan {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 20px;
}
.para {
    margin-top: 20px;
}
/* .image2 {
    margin-left: 350px;
} */
.names {
    display: flex;
    flex-direction: row;
    margin-left: 40px;   
}
.male {
    margin-left: 40px;
}
button {
    margin-top: 10px;
    border-radius: 4rem;
    height: 50px;
    width: 140px;
    background-color: rgb(72, 87, 170);
    color: silver;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    outline: none;
} 

    