@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.logo {
    /* margin-left: 40%; */
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: maroon;
}
.span {
    color: rgb(72, 87, 170)
}
.akan {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 60px;
}
.para {
    margin-top: 30px;
}
.image2 {
    margin-left: 200px;
    /* height: 1200px; */

}